@import url("../fonts/ClearSans-Bold.ttf");
@import url("../fonts/ClearSans-Light.ttf");
@import url("../fonts/ClearSans-Regular.ttf");
@import url("../fonts/ClearSans-Thin.ttf");

html, body, p {
  height: 100%;
  font-family: 'ClearSans-Regular', sans-serif;
  letter-spacing: -0.03em;
}

.navbar {
  font-family: 'ClearSans-Bold', sans-serif;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'ClearSans-Bold', sans-serif;
}

section {
  padding: 40px 0;
}

header {
  color: #fff;
  padding: 120px 0;
  width: 100%;
  height: 100%;
  min-height: 100%;
  // background: url("http://666a658c624a3c03a6b2-25cda059d975d2f318c03e90bcf17c40.r92.cf1.rackcdn.com/unsplash_523ae1f5502d6_1.JPG") 50% no-repeat fixed;
  background: url("../img/bg.jpg") 50% no-repeat fixed;
  // background: url("http://unsplash.s3.amazonaws.com/batch%203/doctype-hi-res.jpg") 50% no-repeat fixed;
  background-size: cover;
}

.show-more {
  margin-bottom: 0;
  a {
    text-decoration: none;
    color: #fff;
  }
  a:hover {
    color: #f4594e;
  }
}

#about {
  background-color: #0085c3;
  background: #ef4723 fixed no-repeat;
  min-height: 100%;
}

#about .title {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 40px;
  color: #222;
}

#about .desc {
  font-family: 'ClearSans-Thin', sans-serif;
  font-style: italic;
  text-align: center;
  color: #fff;
  padding-bottom: 10px;
  font-size: 1.5em;
  opacity: 0.7;
}

#projects {
  background-color: #7ab800;
  min-height: 100%;
  text-align: center;
  h2 {
    padding-top: 100px;
  }
  p {
    font-size: 2em;
    font-family: 'ClearSans-Light', sans-serif;
    font-style: italic;
  }
}

#notes {
  background-color: #f2af00;
  min-height: 100%;
  text-align: center;
  h2 {
    padding-top: 100px;
  }
  p {
    font-size: 2em;
    font-family: 'ClearSans-Light', sans-serif;
    font-style: italic;
  }
}

.main-logo { 
  font-family: 'ClearSans-Bold', sans-serif;
  font-size: 6em;
}

.main-logo.visible-xs{
  font-size: 4em;
}

.motto {
  font-family: 'ClearSans-Thin', sans-serif;
  font-style: italic;
}

.member {
  margin-bottom: 5px;
  min-height: inherit;
  text-align: center;
  color: #222;

  p {
    color: #fff;
    opacity: 0.7;
  }

  .list-container{
    opacity: 1;
    margin-top: 0.5em;
  }

  h5 {
    font-size: 2em;
    // margin-top: 1em;
    margin-bottom: 2px;
  }

  .list-inline {
    margin: 0 auto;
  }

  li a {
    color: #000
  }
}

.member-photo {
  max-height: inherit;

  img {
    width: 100%;
    // display: block;
    margin: 0 auto;
  }
}
